/* *{
    border:solid red 2px;
} */

#parent{
    display:inline-block;
    border:solid red 2px;
    width:30%;
}

.greenbox{
    background-color:green;
    width:300px;
    height:300px;
    border:10px solid;
}

img{
    width:200px;
    height:200px;
}


.redbox{
    background-color:red;
    width:300px;
    height:300px;
    border:10px solid black;
}

/* h1,p{
    display:inline-block; 
    width: 70%; 
} */

/* a,img{
    display: block;
} */

/* #parent{
    border:solid red 2px;
} */
