div{
    outline:dotted red 2px;
}

.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:1000px;
}

#blue{
    width:600px;
    height:600px;
    background-color: blue;
    display:flex;
    justify-content: center;
    align-items: center;
}

#red{
    width:100px;
    height:100px;
    background-color: red;
}

#green{
    width:20px;
    height:20px;
    background-color:green;
    
}