<html>
    <head>
        <title>FSF1</title>
    </head>

    <body>
        <form action="/createuser" method="POST">
            <label>First Name:</label> <br>
            <input type="text" name="first_name"><br>

            <label>Last Name:</label> <br>
            <input type="text" name="last_name"><br>

            <label>User Name:</label> <br>
            <input type="text" name="user_name"><br>

            <label>Email:</label> <br>
            <input type="email" name="email"><br>

            <label>Password:</label> <br>
            <input type="password" name="password"><br>

            <input type="submit" value="Submit!">
        </form>
    </body>
</html>